body {
    font-family: "Rubik";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    box-sizing: border-box;
}

/* Header */

.container {
    margin: 0 auto;
    padding: 0 0.93rem;
    max-width: 71.25rem;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.125rem;
}

.header__nav {
    font-size: 1rem;
    font-weight: 400;
    color: #4F5665
}

.header__link {
    margin-left: 2.5rem;
}

.header__sign {
    font-size: 1rem;
    font-weight: 500;
}

.header__btn {
    width: 9.375rem;
    height: 2.81rem;
    border-radius: 3.125rem;
    border: 0.0625rem solid #F53855;
    color: #F53855;
    font-size: 1rem;
    font-weight: 500;
    background: white;
    margin-left: 1.87rem;
}

/* Main */
.main {
    margin-top: 8.125rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main__left {
    max-width: 34.68rem;
}

.main__title {
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 4.37rem;
    text-align: left;

}

.main__title span {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4.37rem;

}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-top: 1.25rem;
    margin: 0 auto;
    max-width: 34.68rem;
    margin-top: 1.25rem;

}

.subtitle span {

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
}

.main__btn {
    margin-top: 3.125rem;
    width: 15.62rem;
    height: 3.75rem;
    border-radius: 0.625rem;
    background: #F53838;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border: none;
    box-shadow: 0 1.875rem 3.18rem rgba(208, 116, 116, 0.5)
}

/* Main footer */
.main__footer {
    width: 71.25rem;
    height: 12.5rem;
    border-radius: 0.625rem;
    background: #ffffff;
    margin-top: 6.43rem;
    box-shadow: 0 2.18rem 9.37rem rgba(158, 151, 151, 0.5);

}

.main__footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.main__footer_element {
    margin-top: 4.026rem;
    display: flex;
}

.main__footer_element-img {
    margin-right: 2.28rem;
}

.main__footer-title {
    font-size: 1.56rem;
    font-weight: 700;
}

.main__footer-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0.31rem;
}

.main__footer_line {
    width: 0rem;
    height: 7.84rem;
    border: 0.125rem solid #EEEFF2;
    margin-top: 3.32rem;
}

/* Section provide */
.provide-wrapper {
    display: flex;
    margin-bottom: 8.18rem;
}

.provide__left {
    margin-top: 6rem;
    margin-right: 10.62rem;
}

.title {
    font-size: 2.18rem;
    font-weight: 500;

}

.provide__right {
    margin-top: 9.37rem;
}

.provide__right-characteristic {
    display: flex;
    align-items: center;
    margin-top: 0.93rem;
}

.text {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
}

/* Section Plan */
.plan {
    background: #fbfafa;
}

.top {
    text-align: center;
    padding-top: 5rem;

}

.plan__card {
    margin-top: 3.75rem;
    width: 20.62rem;
    height: 47.5rem;
    border: 0.125rem solid #DDDDDD;
    background: white;
    border-radius: 0.625rem;
}
.plan__card:hover{
    border-color: #F53838;
    border-width: 0.125rem;
}

.plan__card-img {
    margin-top: 5rem;
    text-align: center;
}

.bold__title {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1.87rem;
    margin-bottom: 1.87rem;

}

.plan__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 11.87rem;
    margin: 0 auto;
}

.plan__card-characteristic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.625rem;
}


.plan__price {
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 1.87rem;
    margin: 0 auto;

}

.free-plan {
    margin-top: 8.125rem;
}

.standard-plan {
    margin-top: 5.62rem;
}

.standard-plan__other {
    margin-top: 3.125rem;
}

.plan__btn {
    margin-top: 1.25rem;
    width: 11.11rem;
    height: 2.81rem;
    border-radius: 3.125rem;
    border: 0.125rem solid #F53838;
    font-size: 1rem;
    font-weight: 700;
    color: #F53838;
    background: white;


}
.plan__btn:hover{
    background: #F53838;
    color: #ffffff;
}


/* section network */
.network {
    background: #fbfafa;
}

.network-title {
    margin-top: 9.37rem;
    width: 23.93rem;
    margin: 0 auto;
}

.network__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 9.68rem;
}

.network__img {
    margin: 0 auto;
}

.network__img-sponsors {
    margin-top: 0.403rem;
    max-width: 71.25rem;
    margin: 0 auto;

}

/* section customers */
.customers {
    background: #fbfafa;
    position: relative;
}

.customer-title {
    max-width: 28rem;
    margin: 0 auto;
    text-align: center;
}

.customer__wrapper {
    display: flex;
    justify-content: flex-end;
}

.customer__card {
    width: 25rem;
    height: 14.37rem;
    border-radius: 0.625rem;
    border: 0.125rem;
    border: 0.125rem solid #DDDDDD;
    margin-top: 3.75rem;

}
.customer__card:hover{
    border-color: #F53838;
    border-width: 0.125rem;
}

.customer__card:not(:first-child) {
    margin-left: 3.125rem;
}

.customer__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customer__img {
    margin-top: 0.93rem;

}

.customer__name {
    margin-top: 0.31rem;

}

.customer__location {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.87rem;
    text-align: center;
    color: #4F5665;

}

.customer__title {
    margin-bottom: 0.31rem;
}

.customer-subtitle {
    margin-top: 0.5rem;
    max-width: 21.25rem;
    height: 6.25rem;
}

.customer__rate {
    margin-top: 0.18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-rate_img {
    margin-left: 0.625rem;
}

.icon__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11.31rem;

}

.icon__left {
    margin-top: 5.15rem;
}

.icon__right {
    margin-top: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    border: none;
}

.left {
    background: white;
    border: 0.125rem solid #F53838;
    margin-right: 1.25rem;
}

.right {
    background: #F53838;
}

/* scetion subscribe */

.subscribe__box {
    position: absolute;
    z-index: 0;
    top: 278.12rem;
    background: white;
    width: 71.25rem;
    height: 14.56rem;
    border-radius: 0.625rem;
    margin: 0 auto;

}

.subscribe-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscribe__left {
    max-width: 23.18rem;
    margin-top: 3.65rem;
}

/* footer */
.footer {
    background: #F8F8F8
}

.footer-wrapper {
    padding-top: 9.5rem;
}

.footer__left {
    max-width: 21.25rem;
}

.footer__icons-wrapper {
    margin-top: 1.875rem;

}

.footer-subtitle {
    color: #AFB5C0;
}

.column-subtitle {
    color: #4F5665;
    margin: initial;
}

.footer__right {
    max-width: 35.62rem;
}

.right-wrapper {
    width: 35.62rem;
    justify-content: space-between;

}
.footer__column{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.footer-bold {
    margin-top: 0rem;
}